.header{
  display:flex;
  justify-content:space-between;
  flex-direction:row;
  margin-bottom:20px;
  height:50px;
  padding-left:10px;
  padding-right:10px;
  position:fixed;
  top:0px;
  left:100px;
  right:100px;
  z-index:100;
  background-color:rgb(31, 31, 31);
}

.middle-section, .container{
  display:flex;
  align-items:center;
  justify-content:center;
}

.header .left-section{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;
}

.header .right-section{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;
}

.name{
  color:rgb(119, 176, 252);
}

.logo{
  height:30px;
  width:30px;
  margin-right:10px;
  object-fit:cover;
  object-position:center;
  border-radius:3px;
}

.container{
  margin-left:20px;
  font-size:12px;
  background-color:white;
  color:black;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:8px;
  padding-left:5px;
  border-radius:7px;
  cursor:pointer;
}

.icon{
  height:15px;
  width:15px;
  margin-right:3px;
  border-radius:3px;
}

.search-bar{
  border-radius:7px;
  border:none;
  padding-left:10px;
  padding-top:6px;
  padding-bottom:6px;
}